
body {background-color:#ffffff;color:#000000;}
* {font-family:Arial,sans-serif;font-size:12px;font-weight:bold;color:#000000;}
/*fonts*/
h1 {font-size:16px;margin:0;padding:0;color:#140d60;}
h2 {margin:0;padding:0;font-size:15px;font-weight:lighter;color:#140d60;}
h3 {margin:0;padding:0;font-size:12px;color:#140d60;}
h4 {margin:0;padding:0;font-size:11px;font-weight:lighter;color:#140d60;}
p {margin:0;padding:0;font-size:11px;font-weight:lighter;color:#140d60;}

#warning {color:#ff0000}

/*manual mode*/
table.manmode { margin:auto;border-collapse:collapse; border:1px dashed #140d60; width:100%;}
td.mandata { text-align:right; padding: 5px; border:1px dashed #140d60; width:25%; }
td.chart { text-align:center; padding: 5px; border:1px dashed #140d60; width:25%; }
td.mantitle { text-align:left; padding: 5px; border:1px dashed #140d60;}
.StepID {float: left;}


/*various stuff*/
a img{border:none;}
b {font-weight:bold;}
ul {list-style:square; list-style-position:outside;}
form {padding:5px 0px 5px 0px;}
div.text {margin:0;padding:0;font-size:13px;font-weight:lighter;}
input, textarea{background-color:#FFf8b6;border:1px solid #140d60;}
input[type=number] {width:15%;}
input[type=range] {width:80%;}
